_build/
_projects/gmake-linux/
_projects/gmake-mingw-gcc/
_projects/gmake-linux-gcc/
_projects/gmake-osx/
_projects/vs2008/
_projects/vs2010/
_projects/vs2012/
_projects/vs2013/
_projects/xcode4/bgfx.xcodeproj/xcuserdata/yaniv.xcuserdatad/xcschemes/xcschememanagement.plist
_projects/xcode4/cmft.xcodeproj/xcuserdata/yaniv.xcuserdatad/xcschemes/xcschememanagement.plist
_projects/xcode4/cmftStudio.xcodeproj/project.xcworkspace/contents.xcworkspacedata
_projects/xcode4/cmftStudio.xcodeproj/project.xcworkspace/xcuserdata/yaniv.xcuserdatad/WorkspaceSettings.xcsettings
_projects/xcode4/cmftStudio.xcodeproj/xcshareddata/xcschemes/cmftStudio.xcscheme
_projects/xcode4/cmftStudio.xcodeproj/xcuserdata/yaniv.xcuserdatad/xcschemes/xcschememanagement.plist
_projects/xcode4/example-common.xcodeproj/xcuserdata/yaniv.xcuserdatad/xcschemes/xcschememanagement.plist
_projects/xcode4/rawcompress.xcodeproj/xcuserdata/yaniv.xcuserdatad/xcschemes/xcschememanagement.plist
*.swp
.svn/
.DS_Store
.vim
tags
make.log
